body{
        margin:0;
    }
    .navbar{
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:10px 15px;
        background:#fff;
        border-bottom:1px solid #ddd;
    }
    .nav-left{
        display:flex;
        align-items:center;
        gap:50px;
    }

    .logo{
        font-weight:bold;
        font-size:22px;
        color:#04aa6d;
    }

    .nav-left a{
        text-decoration:none;
        color:#000;
        font-size:17px;
    }
    .searchbar{
        display:flex;
        align-items:center;
        border:1px solid #ccc;
        border-radius:20px;
        padding:2px 10px;
        width:150px;
    }

    .searchbar input{
        border:none;
        outline:none;
        width:100%;
    }
    .nav-right{
        display:flex;
        align-items:center;
        gap:50px;
        font-size:17px;
    }

    .signup{
        background:#04aa6d;
        color:#fff;
        padding:8px 15px;
        border-radius:20px;
        text-decoration:none;
    }

    .login{
        text-decoration:none;
        color:#000;
        padding-right: 20px;
    }
    .menu-bar{
        display:flex;
        gap:30px;
        padding:10px 15px;
        background:#282a35;
    }

    .menu-bar a{
        color:#fff;
        text-decoration:none;
        font-size:14px;
    }